.filter-btn {
  display: flex;
  gap: 0.5rem;
  text-transform: capitalize;
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--clr-lightGrayishCyan-1);
  color: var(--clr-desaturatedDarkCyan);
  background-color: var(--clr-lightGrayishCyan-2);
}

.filter-btn:hover {
  cursor: pointer;
}

.filter-name {
  padding: 0.5rem;
  font-weight: var(--fw-bold);
}

.icon-box {
  background-color: var(--clr-desaturatedDarkCyan);
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.icon-box:hover {
  background-color: var(--clr-veryDarkGrayishCyan);
}

.icon {
  width: 100%;
  align-self: center;
}
