// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px
// .
// ## Colors

// ### Neutral

// - Almost White: hsl(0, 0%, 98%)
// - Medium Gray: hsl(0, 0%, 41%)
// - Almost Black: hsl(0, 0%, 8%)



@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Epilogue, 'sans-serif';
  color: hsl(0, 0%, 8%);
  font-weight: 500;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

img {
  display: block;
}

.nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  &__menu-icon {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__list {
    display: none;
  }

}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.hero {
  // border: 2px solid black;

  &__image {
    width: 100%;
  }

  &__desktop {
    display: none;
  }

  &__content {
    padding: 1rem 1.5rem;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
    width: 100%;
  }

  &__description {
    color: hsl(0, 0%, 41%);
    text-align: left;
    line-height: 1.4;
  }

  &__link {
    // border: 2px solid black;
    padding: 1rem 1.5rem;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border-radius: 1rem;
  }

  &__clients {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    gap: 1rem;
    padding: 1rem;
  }

  &__client {
    flex-grow: 1;
  }

  &__logo {
    max-width: 100%;
  }
}

// - Almost White: hsl(0, 0%, 98%)
// - Medium Gray: hsl(0, 0%, 41%)
// - Almost Black: hsl(0, 0%, 8%)
