@import url('./variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-base);
  min-height: 100vh;
  /* border: 2px solid purple; */
  background-color: var(--clr-lightGrayishCyan-1);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 4rem; */
}

main {
  display: flex;
  flex-direction: column;
  /* padding-top: 8rem; */
  gap: 4rem;
  /* border: 2px solid orange; */
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 425px;
  margin: 0 1rem;
  position: relative;
  top: -50px;
}
/* 
@media only screen and (min-width: 768px) {
  main {
    max-width: 768px;
    width: 100%;
  }
} */
@media only screen and (min-width: 1280px) {
  main {
        max-width: 80%;

    /* max-width: 1280px; */
    width: 100%;
  }
}

.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
