.filter-container {
  display: flex;
  gap: 1rem;
  /* border: 2px solid green; */
  padding: 1rem;
  border-radius: 8px;
  justify-content: space-between;
  background-color: white;
  /* position: absolute;
  top: -30px; */
  width: 100%;
  box-shadow: var(--shadow);
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* border: 1px solid red; */
}

.clear-btn {
  all: unset;
  cursor: pointer;
  color: var(--clr-darkGrayishCya);
  align-self: center;
  font-weight: var(--fw-bold);
  font-weight: var(--fw-bold);
}
.clear-btn:hover {
  text-decoration: underline;
  color: var(--clr-desaturatedDarkCyan);
}

@media only screen and (min-width: 1280px) {
  .filter-container {
    padding: 1.5rem 3rem;
  }
}
