@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

// @use '../../styles/'

.result {
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  box-shadow: 0px 30px 60px 0px hsla(224, 82%, 58%, 0.15);
  border-radius: 0 0 32px 32px;
  flex: 1;

  @include tablet-and-desktop {
    border-radius: 32px;
  }

  &__wrapper {
    margin: 0 1.6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;

    @include tablet-and-desktop {
      height: 100%;
      justify-content: space-around;
    }
  }

  &__title {
    color: $neutral-light-lavender;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 23.45px;
    text-align: center;

    @include tablet-and-desktop {
      font-size: 1.5rem;
      line-height: 1.9375rem;
    }
  }

  &__container {
    background: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );

    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include tablet-and-desktop {
      width: 180px;
      height: 180px;
      gap: 1rem;
    }
  }

  &__score {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 72px;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);

    @include tablet-and-desktop {
      font-size: 4.5rem;
    }
  }

  &__outof {
    color: hsla(241, 100%, 89%, 1);
    font-weight: 700;
    font-size: 1rem;
    line-height: 20.85px;
    @include tablet-and-desktop {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__remarks {
    color: hsla(0, 0%, 100%, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9375rem;
    letter-spacing: 0px;
    text-align: center;

    @include tablet-and-desktop {
      font-size: 2rem;
      line-height: 2.625rem;
    }
  }

  &__summary {
    color: hsla(241, 100%, 89%, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;

    @include tablet-and-desktop {
      font-size: 1.125rem;
      line-height: 23px;
    }
  }
}
